* {
  margin: 0;
  padding: 0;
}

div {
  height: 100vh;
  background-image: linear-gradient(to left, rgba(0, 0, 255, 0.293), rgba(0, 128, 0, 0.281)),
    url("https://images.unsplash.com/photo-1718556256225-82afc1b30580?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
