div {
  background-color: orangered;
  color: aliceblue;
  width: 200px;
  height: 200px;
}

span {
  background-color: teal;
  width: 200px;
  height: 200px;
}

.inline-block {
  display: inline-block;
  background-color: dodgerblue;
  width: 80px;
  height: 220px;
}

section {
  display: none;
}
