body {
  background-color: coral;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: cornflowerblue;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color: crimson;
    color: whitesmoke;
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1rem;
    border: 4px dashed darkblue;
  }
}
